<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./lib/dist/css/bootstrap.css">
  <link rel="stylesheet" href="./css/brandidel0.css">
</head>

<body>
  <div class="top">
    <nav class="navbar reafenav navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <a class="navbar-brand logo" href="#"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="./index.html">品牌介绍 <span class="sr-only">(current)</span></a></li>
            <li  class="active"><a href="./brandidel.html">品牌理念</a></li>
            <li><a href="./material.html">配料分析</a></li>
            <li><a href="./blog.html">BLOG</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </div>
  <div class='banner'>
    <div class="jumbotron">
      <img src="./image/brandidel/banner2.png" alt="">
      <div class="mask hidden-xs">
        将专注赋予行动 以诚信铸造产品<br> 用心呵护 用爱灌盖.</div>
    </div>
  </div>
  <div class="jumbotron hidden-xs md1">
    <div class="container">
      <h1>Reafe</h1>
      <p>Reafe以严谨的科研态度，专注于极致安全的产品开发，</br> 将诚心与责任注入产品的灵魂，</br> 旨在为广大消费者提供一个极致安全、健康、时尚的高端生活品牌。
      </p>
    </div>
  </div>
  <div class="content">
    <div class="md1">
      <div class="container visible-xs">
        <h1>__</h1>
        <h1>Reafe</h1>
        <p>将专注赋予行动 以诚信铸造产品 用心呵护 用爱灌盖.</p>
      </div>
    </div>
    <div class="md2">
      <div class="md2-list">
        <div class="container">
          <div class="row">
            <div class="md2-item col-xs-12 col-lg-6">
              <div class="img-box">
                <img src="./image/brandidel/icon1.png" alt="">
                <div class="mask">品牌理念</div>
              </div>

              <h3>品牌理念</h3>
              <p>以科研技术为基础，“打造simple（简约）</br>
                +safe（安全）+sincere（诚信）+strict （严谨）</br>”， 富有责任感的4S时尚品牌。
              </p>
            </div>
            <div class="md2-item col-xs-12 col-lg-6">
              <div class="img-box">
                <img src="./image/brandidel/icon2.png" alt="">
                <div class="mask">品牌定位</div>
              </div>
              <h3>品牌定位</h3>
              <p>Reafe以严谨的科研态度，专注于<br> 极致安全的产品开发，
                <br> 将诚心与责任注入产品的灵魂，
                <br> 旨在为广大消费者提供一个
                <br> 极致安全、健康、时尚的高端生活品牌。
              </p>
            </div>
            <div class="md2-item col-xs-12 col-lg-6">
              <div class="img-box">
                <img src="./image/brandidel/icon3.png" alt="">
                <div class="mask">品牌形象</div>
              </div>
              <h3>品牌形象</h3>
              <p>简约、安全.诚信、严谨 </p>
            </div>
            <div class="md2-item col-xs-12 col-lg-6">
              <div class="img-box">
                <img src="./image/brandidel/icon4.png" alt="">
                <div class="mask">品牌信仰</div>
              </div>
              <h3>品牌信仰</h3>
              <p>将专注赋予行动，以诚信铸造产品，<br> 用心呵护，用爱灌盖.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="md3">
      <div class="container">
        <div class="md3-title">
          <h3>品牌故事</h3>
        </div>
        <div class="md3-article">
          有了这个想法，Bo和伙伴们进行了深入的讨论和思考。他们发现目前市场上的洗涤剂产品，都在使用“植物性来源”“无毒级”“生物酶洗净”等安全概念。但是产品的洗净能力依靠于能够产生泡泡的物质，即表面活性成分，而这些产品使用的表面活性成分与洗发水，沐浴露中使用的表面活性成分有很多重叠。你会用沐浴露来洗餐具么？听起来不可思议，但是从产品成分上来讲确实有可能。看来如果要把洗涤剂产品的安全性做到极致，必须替换掉常用的表面活性物质才行。基于制药科学家对安全性的深刻理解，Bo和他的伙伴们定下了严格的洗涤剂可使用成分的标准：
          <br><br><br> 1）它所有的原料成分必须有严格的动物和人类的长期服用数据，最好是可直接添加于食品之中；或是曾经应用于口服药物，有长期的临床使用证据。这里的“所有”指的是严格控制原料成分，不允许有任何一个组份发生例外。 2）除了食用安全性，所用的原料成份还必须生物可降解，对环境友好。 3）清洁剂的洗净作用也要优良，要有良好的使用体验，要满足洗涤产品国标的要求。 4）控制成本，让更多的消费者有机会使用。
        </div>
      </div>
    </div>
  </div>
  <footer class="footer style-2">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-xs-6">
          <div class="col">
            <h4>快速导航</h4>
            <ul>
              <li><a href="">家庭门锁</a></li>
              <li><a href="">蓝牙</a></li>
              <li><a href="">WIFI</a></li>
              <li><a href="">家庭门锁</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-2 col-xs-6">
          <div class="col">
            <h4>自研产品</h4>
            <ul>
              <li><a href="">家庭门锁</a></li>
              <li><a href="">蓝牙</a></li>
              <li><a href="">WIFI</a></li>
              <li><a href="">家庭门锁</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-2 col-xs-6">
          <div class="col">
            <h4>社区/招聘</h4>
            <ul>
              <li><a href="">家庭门锁</a></li>
              <li><a href="">蓝牙</a></li>
              <li><a href="">WIFI</a></li>
              <li><a href="">家庭门锁</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-2 col-xs-6">
          <div class="col">
            <h4>信息检索</h4>
            <ul>
              <li><a href="">家庭门锁</a></li>
              <li><a href="">蓝牙</a></li>
              <li><a href="">WIFI</a></li>
              <li><a href="">家庭门锁</a></li>
            </ul>
            </form>
          </div>
        </div>

        <div class="col-md-2 col-xs-6">
          <div class="col">
            <img src="./image/QRcode.png" class="img-responsive img-thumbnail"  style='width:100px;height100px;'>
          </div>
        </div>

        <div class="col-md-2 col-xs-6">
          <div class="col">
            <img src="./image/QRcode.png" class="img-responsive img-thumbnail" style='width:100px;height100px;'>
          </div>
        </div>


      </div>
    </div>
  </footer>

</body>
<script src='lib/jquery-3.1.1.js'></script>
<script src="./lib/dist/js/bootstrap.min.js"></script>


</html>
