<footer class="footer style-2">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-xs-6">
                <div class="col">
                    <h4>快速导航</h4>
                    <ul>
                        <li><a href="">家庭门锁</a></li>
                        <li><a href="">蓝牙</a></li>
                        <li><a href="">WIFI</a></li>
                        <li><a href="">家庭门锁</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-2 col-xs-6">
                <div class="col">
                    <h4>自研产品</h4>
                    <ul>
                        <li><a href="">家庭门锁</a></li>
                        <li><a href="">蓝牙</a></li>
                        <li><a href="">WIFI</a></li>
                        <li><a href="">家庭门锁</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-2 col-xs-6">
                <div class="col">
                    <h4>社区/招聘</h4>
                    <ul>
                        <li><a href="">家庭门锁</a></li>
                        <li><a href="">蓝牙</a></li>
                        <li><a href="">WIFI</a></li>
                        <li><a href="">家庭门锁</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-2 col-xs-6">
                <div class="col">
                    <h4>信息检索</h4>
                    <ul>
                        <li><a href="">家庭门锁</a></li>
                        <li><a href="">蓝牙</a></li>
                        <li><a href="">WIFI</a></li>
                        <li><a href="">家庭门锁</a></li>
                    </ul>
                    </form>
                </div>
            </div>

            <div class="col-md-2 col-xs-6">
                <div class="col">
                    <img src="{IMG_PATH}reafe/QRcode.png" class="img-responsive img-thumbnail"  style='width:100px;height100px;'>
                </div>
            </div>

            <div class="col-md-2 col-xs-6">
                <div class="col">
                    <img src="{IMG_PATH}reafe/QRcode.png" class="img-responsive img-thumbnail" style='width:100px;height100px;'>
                </div>
            </div>


        </div>
    </div>
</footer>

</body>
<script src='{JS_PATH}reafe/lib/jquery-3.1.1.js'></script>
<script src="{JS_PATH}reafe/lib/dist/js/bootstrap.min.js"></script>


</html>