{template "","header"}
  <link rel="stylesheet" href="{CSS_PATH}reafe/material.css">

</head>

<body>
{template "","nav"}
{template "","banner"}
  <div class="content">
    <div class="container">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          {php $arr=['headingOne','headingTwo','headingThr','headingFour','headingFive','headingSix']}
          {php $arr1=['collapseOne','collapseTwo','collapseThr','collapseFour','collapseFive','collapseSix']}
          {php $i=0;}
      {pc:content action="category" catid="58" num="6" siteid="$siteid" order="listorder ASC"}
      {loop $data $r}

      <!-- 组1 -->
      <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="{$arr[$i]}">
              <div class="row">
                  <div class="col-md-3 hidden-xs">
                      <img class='img-rounded material-icon center-block' src="{$r['image']}" alt="">
                  </div>
                  <div class="col-md-6 mat-text">
                      <h3>{$r['catname']}</h3>
                      <p>{$r['description']}</p>
                  </div>
                  <div class="col-md-3 hidden-xs">
                      <a class="collapsed mat-button add{php echo $i}" role="button" data-toggle="collapse" data-parent="#accordion"
                         href="#{$arr1[$i]}" aria-expanded="false"
                         aria-controls="{$arr1[$i]}">
                      </a>
                  </div>
              </div>
          </div>
          <div id="{$arr1[$i]}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="{$arr[$i]}">
              <div class="panel-body">
                  {if $i==0||$i==2}

                  {pc:content action="lists" catid="76" order="listorder DESC" moreinfo="1" num="1" return="datatable" }
                  {loop $datatable $rable}
                    {$rable['content']}
                  {/loop}
                  {/pc}
                  {else}
                  <div class="row">
                      {pc:content action="category" catid="$r['catid']" num="6" siteid="$siteid" order="listorder ASC" return="data1"}
                      {loop $data1 $r1}
                      <div class="col-md-4 item-box text-center">
                          <img src="{$r1['image']}">
                          <h4>{$r1['catname']}</h4>
                          <p class='text-left'>{$r['description']}
                          </p>
                      </div>
                      {/loop}
                      {/pc}
                  </div>
                  {/if}
              </div>
          </div>
      </div>
        {php $i++}
       {/loop}
      {/pc}




      </div>
      <!-- accordion -->
    </div>
    <!-- container -->
  </div>

{template "","footer"}
<script>
    $(function(){
        $('.content .panel-group .mat-button').each(function(){
            $(this).addClass('add'+$(this).index('.content .panel-group .mat-button'))
        })
        $('.content .panel-group .mat-button').click(function(){

            $(this).toggleClass('red'+$(this).index('.content .panel-group .mat-button'));
        })
    })
</script>
