{template "","header"}
  <link rel="stylesheet" href="{CSS_PATH}reafe/productdetail.css">
</head>

<body>
{template "","nav"}
{template "","banner"}
  <div class="jumbotron hidden-xs md1">
    <div class="container">
      <h1>{$this_catname}</h1>
      <p>{$this_description}
      </p>
    </div>
  </div>


  <div class="content">
  {pc:content action="lists" catid="$catid" order="id asc" moreinfo="1" num="7" }
  {loop $data $k $r}
    {if $n==1}
        {php $first_data=$r}
    {/if}
    {if $n>1&&$n<6}
        {php $second_data[]=$r}
    {/if}
    {if $n==7}
      {php $third_data=$r}
    {/if}
    {if $n==6}
     {php $fouth_data=$r}
    {/if}


  {/loop}
  {/pc}
    <div class="md1">
      <div class="container visible-xs text-center">
        <h1>__</h1>
        <h1>奶瓶清洗剂</h1>
        <p>100%食品级配方，所有原料均为食品辅料</br>符合FDA美国食品药品安全标准，可放心使用。</br> 爸爸说：“可以吃进肚子的，才是真正安全的！”
        </p>
      </div>
    </div>
    <div class="md2">
      <div class="container">
        {$first_data['content']}
      </div>
    </div>
    <div class="md3">
      <div class='container'>

        <img src="{php $muti_image=$first_data['muti_image'];$muti_image_arr=json_decode($muti_image,true);echo $muti_image_arr[0]['url']}" alt="">
      </div>
    </div>
    <div class='md4'>
      <div class="container">
        <div class="row">
          <div class="col-md-6 m4-item">
            <span class='bg-logo'></span>
            <h2>{$first_data['title']}</h2>
            <p class='text-gray'>{$first_data['description']}
              </p>
          </div>
          <div class="col-md-6 m4-item">
            <img src="{$first_data['thumb']}" class="img-thumbnail  Responsive image" alt="">
          </div>
            {loop $second_data $r}
            {if $n%2==1}
          <div class="col-md-6 m4-item">
            <img src="{$r['thumb']}" class="img-thumbnail  Responsive image" alt="">
          </div>
          <div class="col-md-6 m4-item">
            <span class='gb-logo'></span>
            <h3><span>0{$n}&nbsp;&nbsp;&nbsp;</span>{$r['title']}</h3>
            <small>{$r['description']}</small>
            <p class='text-gray'>{$r['content']}
              </p>
          </div>
            {else}
            <div class="col-md-6 m4-item">
                <span class='gb-logo'></span>
                <h3><span>0{$n}&nbsp;&nbsp;&nbsp;</span>{$r['title']}</h3>
                <small>{$r['description']}</small>
                <p class='text-gray'>{$r['content']}
                </p>
            </div>
            <div class="col-md-6 m4-item">
                <img src="{$r['thumb']}" class="img-thumbnail  Responsive image" alt="">
            </div>
            {/if}
            {/loop}
        </div>
      </div>
    </div>
      {if $third_data!=null}
    <div class="md5">
      <div class="container">
        <h2>{$third_data['title']}</h2>
        <h2>————</h2>
        <div class="row text-center">
          <div class="col-md-6">
              {php $kword= explode('-',$third_data['keywords']);}
              <h3>{$kword[0]}</h3>
              <h4>{$kword[1]}</h4>
          </div>
          <div class="col-md-6">
              {php $descp= explode('-',$third_data['keywords']);}
              <h3>{$descp[0]}</h3>
              <h4>{$descp[1]}</h4>
          </div>
        </div>
          {$third_data['content']}
      </div>
    </div>
      {/if}
    <div class="md6">
      <div class="container">
        <h2>{$fouth_data['title']}</h2>
        <h2>————</h2>
          {$fouth_data['content']}
      </div>
    </div>
    <div class="md7">
      <div class="container">
          {php $images_url=json_decode($fouth_data['muti_image'],true)}
          {loop $images_url $r}
        <img src="{$r[url]}" alt="">
          {/loop}

      </div>
    </div>
  </div>

{template "","footer"}
