<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./lib/dist/css/bootstrap.css">
  <link rel="stylesheet" href="./css/productdetail.css">
</head>

<body>
  <div class="top">
    <nav class="navbar reafenav navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <a class="navbar-brand logo" href="#"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="./index.html">品牌介绍 <span class="sr-only">(current)</span></a></li>
            <li><a href="./brandidel.html">品牌理念</a></li>
            <li><a href="./material.html">配料分析</a></li>
            <li><a href="./blog.html">BLOG</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </div>
  <div class='banner'>
    <div class="jumbotron">
      <img src="./image/productdetail2/banner1.jpg" alt="">
      <div class="mask hidden-xs ml text-center hidden">
        <h2 class='text-center'>奶瓶清洗剂</h2>
        <p>100%食品级配方，所有原料均为食品辅料<br>符合FDA美国食品药品安全标准，可放心使用。</br>爸爸说：“可以吃进肚子的，才是真正安全的！”</p>
        <p><small>专家表示： “残留物中的主要成 分是，起到去污作用 的化工性表面活性剂 被人体吸入，会渗透 到细胞内部，破坏细 胞正常功能。”</small>
        </p>
      </div>
    </div>
  </div>
  <div class="jumbotron hidden-xs md1">
    <div class="container">
      <h1>果蔬清洗剂</h1>
      <p>100%食品级配方，所有原料均为食品辅料</br>符合FDA美国食品药品安全标准，可放心使用。</br> 爸爸说：“可以吃进肚子的，才是真正安全的！”
      </p>
    </div>
  </div>


  <div class="content">
    <div class="md1">
      <div class="container visible-xs text-center">
        <h1>__</h1>
        <h1>果蔬清洗剂</h1>
        <p>100%食品级配方，所有原料均为食品辅料</br>符合FDA美国食品药品安全标准，可放心使用。</br> 爸爸说：“可以吃进肚子的，才是真正安全的！”
        </p>
      </div>
    </div>
    <div class="md2">
      <div class="container">
        <p>数据来源：</p>
        <small>南京大学化学化工学院的高卫老师在南大基础实验楼的一间化学实验室</small></br></br>
        <h4 class='text-mycolor'>冲洗掉物品表面的泡沫后，残留剩余：（如表2）</h4>
        <span>表2</span>
        <table class="table text-center">
          <tr class='warning'>
            <td>洗洁精</td>
            <td>洗洁精</td>
            <td>洗洁精</td>
            <td>洗洁精</td>
            <td>洗洁精</td>
          </tr>
          <tr>
            <td>冲净泡沫后的残留</td>
            <td>14.14</td>
            <td>14.14</td>
            <td>14.14</td>
            <td>14.14</td>
          </tr>
        </table>
        <h4 class='text-mycolor'>冲洗掉物品表面的泡沫后，残留剩余：（如表2）</h4>
        <span>表2</span>
        <table class="table text-center">
          <tr class='warning'>
            <td>洗洁精</td>
            <td>洗洁精</td>
            <td>洗洁精</td>
            <td>洗洁精</td>
            <td>洗洁精</td>
          </tr>
          <tr>
            <td>流水冲洗1分半钟后的残留</td>
            <td>14.14</td>
            <td>14.14</td>
            <td>14.14</td>
            <td>14.14</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="md3">
      <div class='container'>
        <img src="./image/productdetail/banner2.jpg" alt="">
      </div>
    </div>
    <div class='md4'>
      <div class="container">
        <div class="row">
          <div class="col-md-6 m4-item">
            <span class='bg-logo'></span>
            <h3>果蔬清洗剂</h3>
            <p class='text-gray'>采用独特配方工艺，</br>
                选用国家食品安全（GB2760)</br>
                中收录的成分，</br>
                符合FDA美国食品药品安全标准，</br>
                可完全生物降解，安全健康。</br>
                配料：水、蔗糖脂肪酸酯、</br>
                甘油脂肪酸酯、海藻提取物、食用香精。</br>
              </p>
          </div>
          <div class="col-md-6 m4-item">
            <img src="./image/productdetail2/图片1.jpg" class="img-thumbnail  Responsive image" alt="">
          </div>

          <div class="col-md-6 m4-item">
            <img src="./image/productdetail2/图片2.jpg" class="img-thumbnail  Responsive image" alt="">
          </div>
          <div class="col-md-6 m4-item">
            <span class='gb-logo'></span>
            <h3>蔗糖脂肪酸酯</h3>
            <small>被长期广泛应用于食品之中，收录于国家食品安全GB-2760中。</small>
            <p class='text-gray'>*有效去除污渍，乳化、起泡功能。</br>
                *由蔗糖和天然植物油脂肪酸提炼而成</br>
                *符合国家食品安全标准GB-2760</br>
                *无毒、无刺激，100%可生物降解。</br>
                *大量用于面包、蛋糕、饼干、牛奶、
                  咖啡、罐头、面条、糖果中</br>
                *长期在食品中使用，证明安全无害</br>
              </p>
          </div>

          <div class="col-md-6 m4-item">
            <span class='gb-logo'></span>
            <h3>甘油脂肪酸酯</h3>
            <small>被长期广泛应用于食品之中，收录于国家食品安全GB-2760中。</small>
            <p class='text-gray'>*有效去除污渍。</br>
                *食品表面活性剂，在产品中主要起到起泡做用)</br>
                *符合国家食品安全标准GB-2760</br>
                *对皮肤刺激性很小</br>
                *大量应用于牛奶、咖啡、奶茶、巧克力、</br>
                配料：水、蔗糖脂肪酸酯、</br>
                *数十年广泛的应用于食品饮料市场</br>
              </p>
          </div>
          <div class="col-md-6 m4-item">
            <img src="./image/productdetail2/图片3.jpg" class="img-thumbnail  Responsive image" alt="">
          </div>


          <div class="col-md-6 m4-item">
            <img src="./image/productdetail2/图片4.jpg" class="img-thumbnail  Responsive image" alt="">
          </div>
          <div class="col-md-6 m4-item">
            <span class='gb-logo'></span>
            <h3>柠檬酸</h3>
            <small>被长期广泛应用于食品之中，收录于国家食品安全GB-2760中。</small>
            <p class='text-gray'>*有效去除污渍。</br>
                *食品表面活性剂，在产品中主要起到起泡作用。</br>
                *符合国家食品安全标准GB-2760</br>
                *对皮肤刺激性很小</br>
                *大量应用于牛奶、咖啡、奶茶、巧克力、
                  果冻、冰淇淋等食品当中。</br>
                配料：水、蔗糖脂肪酸酯、</br>
                *数十年广泛的应用于食品饮料市场</br>
              </p>
          </div>

          <div class="col-md-6 m4-item">
            <span class='gb-logo'></span>
            <h3>柠檬酸</h3>
            <small>被长期广泛应用于食品之中，收录于国家食品安全GB-2760中。</small>
            <p class='text-gray'>*有效去除污渍。</br>
                *食品表面活性剂，在产品中主要起到起泡做用)</br>
                *符合国家食品安全标准GB-2760</br>
                *对皮肤刺激性很小</br>
                *大量应用于牛奶、咖啡、奶茶、巧克力、</br>
                配料：水、蔗糖脂肪酸酯、</br>
                *数十年广泛的应用于食品饮料市场</br>
              </p>
          </div>
          <div class="col-md-6 m4-item">
            <img src="./image/productdetail2/图片5.jpg" class="img-thumbnail  Responsive image" alt="">
          </div>

          <div class="col-md-6 m4-item">
            <img src="./image/productdetail/image5.jpg" class="img-thumbnail  Responsive image" alt="">
          </div>
          <div class="col-md-6 m4-item">
            <span class='gb-logo'></span>
            <h3>柠檬酸钠</h3>
            <small>被长期广泛应用于食品之中，收录于国家食品安全GB-2760中。</small>
            <p class='text-gray'>**有效去除污渍。</br>
                *食品表面活性剂，在产品中主要起到起泡作用。</br>
                *符合国家食品安全标准GB-2760</br>
                *对皮肤刺激性很小</br>
                *大量应用于牛奶、咖啡、奶茶、巧克力、
                  果冻、冰淇淋等食品当中。</br>
                配料：水、蔗糖脂肪酸酯、</br>
                *数十年广泛的应用于食品饮料市场</br>
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="md5">
      <div class="container">
        <h2>表面活性剂对比</h2>
        <h2>————</h2>
        <div class="row text-center">
          <div class="col-md-6">
            <h3>普通洗洁精</h3>
            <h4>化工性表面活性剂</h4>
          </div>
          <div class="col-md-6">
            <h3>Reafe</h3>
            <h4>食品级表面活性剂</h4>
          </div>
        </div>
        <table class="table table-condensed text-center md5-table">
          <thead>
            <tr class='warning'>
              <th>名称</th>
              <th class='text-center'>烷基苯磺酸钠</th>
              <th class='text-center'>烷基苯磺酸钠</th>
              <th class='text-center'>烷基苯磺酸钠</th>
              <th class='text-center'>烷基苯磺酸钠</th>
              <th class='text-center'>烷基苯磺酸钠</th>
              <th class='text-center'>烷基苯磺酸钠</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">作用</th>
              <td><small>属阴离子表面活性剂，起泡剂，是石化产品，起到去除污渍作用</small></td>
              <td><small>属阴离子表面活性剂，起泡剂，是石化产品，起到去除污渍作用</small></td>
              <td><small>@属非离子表面活性剂，起泡剂，泡沫丰富细腻，有良好的增稠能力</small></td>
              <td><small>两性表面活性剂，酸碱稳定，泡沫多，去污力强。</small></td>
              <td><small>属表面活性剂，起到去除污渍作用，大量应用于食品之中</small></td>
              <td><small>属乳化剂，起到去除污渍作用，大量应用于食品之中</small></td>
            </tr>
            <tr>
              <th scope="row">用途</th>
              <td><small>属阴离子表面活性剂，起泡剂，是石化产品，起到去除污渍作用</small></td>
              <td><small>属阴离子表面活性剂，起泡剂，是石化产品，起到去除污渍作用</small></td>
              <td><small>@属非离子表面活性剂，起泡剂，泡沫丰富细腻，有良好的增稠能力</small></td>
              <td><small>两性表面活性剂，酸碱稳定，泡沫多，去污力强。</small></td>
              <td><small>属表面活性剂，起到去除污渍作用，大量应用于食品之中</small></td>
              <td><small>属乳化剂，起到去除污渍作用，大量应用于食品之中</small></td>
            </tr>
            <tr>
              <th scope="row">可否食用</th>
              <td><small>属阴离子表面活性剂，起泡剂，是石化产品，起到去除污渍作用</small></td>
              <td><small>属阴离子表面活性剂，起泡剂，是石化产品，起到去除污渍作用</small></td>
              <td><small>@属非离子表面活性剂，起泡剂，泡沫丰富细腻，有良好的增稠能力</small></td>
              <td><small>两性表面活性剂，酸碱稳定，泡沫多，去污力强。</small></td>
              <td><small>属表面活性剂，起到去除污渍作用，大量应用于食品之中</small></td>
              <td><small>属乳化剂，起到去除污渍作用，大量应用于食品之中</small></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="md6">
      <div class="container">
        <h2>食品中表面活性剂的含量</h2>
        <h2>————</h2>
        <table class="table text-center md6-table">
          <tr>
            <td>面包</td>
            <td>饺子皮</td>
            <td>糖果</td>
            <td>罐头</td>
          </tr>
          <tr>
            <td>0.3%</td>
            <td>0.4%</td>
            <td>1.0%</td>
            <td>1.5%</td>
          </tr>
        </table>
        <small>国家食品卫生标准中规定，100克面包里含有的食品级表面活性剂为0.3克；据数据显示，洗涤剂冲洗掉泡沫后，残留的表面活性剂最多为0.00002克，按一日三餐，一年365天计算，您使用                    13.7年的残留量，相当于您吃掉一个100克面包所含有的表面活性剂含量。</small>
      </div>
    </div>
    <div class="md7">
      <div class="container">
        <img src="./image/productdetail/banner3.jpg" alt="">
        <img src="./image/productdetail/banner4.jpg" alt="">
        <img src="./image/productdetail/banner5.jpg" alt="">
      </div>
    </div>
  </div>


  <footer class="footer style-2">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-xs-6">
          <div class="col">
            <h4>快速导航</h4>
            <ul>
              <li><a href="">家庭门锁</a></li>
              <li><a href="">蓝牙</a></li>
              <li><a href="">WIFI</a></li>
              <li><a href="">家庭门锁</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-2 col-xs-6">
          <div class="col">
            <h4>自研产品</h4>
            <ul>
              <li><a href="">家庭门锁</a></li>
              <li><a href="">蓝牙</a></li>
              <li><a href="">WIFI</a></li>
              <li><a href="">家庭门锁</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-2 col-xs-6">
          <div class="col">
            <h4>社区/招聘</h4>
            <ul>
              <li><a href="">家庭门锁</a></li>
              <li><a href="">蓝牙</a></li>
              <li><a href="">WIFI</a></li>
              <li><a href="">家庭门锁</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-2 col-xs-6">
          <div class="col">
            <h4>信息检索</h4>
            <ul>
              <li><a href="">家庭门锁</a></li>
              <li><a href="">蓝牙</a></li>
              <li><a href="">WIFI</a></li>
              <li><a href="">家庭门锁</a></li>
            </ul>
            </form>
          </div>
        </div>

        <div class="col-md-2 col-xs-6">
          <div class="col">
            <img src="./image/QRcode.png" class="img-responsive img-thumbnail" style='width:100px;height100px;'>
          </div>
        </div>

        <div class="col-md-2 col-xs-6">
          <div class="col">
            <img src="./image/QRcode.png" class="img-responsive img-thumbnail" style='width:100px;height100px;'>
          </div>
        </div>
      </div>
    </div>
  </footer>

</body>
<script src='lib/jquery-3.1.1.js'></script>
<script src="./lib/dist/js/bootstrap.min.js"></script>
</html>
