/*公共样式后期抽出*/

.reafenav {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-bottom: 0;
  margin-bottom: 0;
  transition:all 1s;
}
.reafenav .navbar-brand {
  color: #777;
  height: 80px;
  line-height: 50px;
}
.reafenav .navbar-brand:hover,
.reafenav .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.reafenav .navbar-text {
  color: #777;
}
.reafenav .navbar-nav > li > a {
  /*color: #777;*/
  color: #000;
  height: 80px;
  line-height: 50px;
  margin-left: 60px;
}
.reafenav .navbar-nav > li > a:hover,
.reafenav .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
  border-bottom: 2px solid #FACB87;
}
.reafenav .navbar-nav > .active > a,
.reafenav .navbar-nav > .active > a:hover,
.reafenav .navbar-nav > .active > a:focus {
  /*color: #555;*/
  color: #000;
  border-bottom: 2px solid #FACB87;
}
.reafenav .navbar-nav > .disabled > a,
.reafenav .navbar-nav > .disabled > a:hover,
.reafenav .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.reafenav .navbar-toggle {
  border-color: #ddd;
  margin-top: 23px;
  margin-bottom: 23px;
}
.reafenav .navbar-toggle:hover,
.reafenav .navbar-toggle:focus {
  background-color: #ddd;
}
.reafenav .navbar-toggle .icon-bar {
  background-color: #888;
}
.reafenav .navbar-collapse,
.reafenav .navbar-form {
  border-color: #e7e7e7;
}
.reafenav .navbar-nav > .open > a,
.reafenav .navbar-nav > .open > a:hover,
.reafenav .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .reafenav .navbar-nav > li > a{
    margin-left: 0;
  }
  .reafenav .navbar-nav > .active > a,
  .reafenav .navbar-nav > .active > a:hover,
  .reafenav .navbar-nav > .active > a:focus {
    /*color: #555;*/
    color: #000;
    border-bottom: none;
  }
  .reafenav .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .reafenav .navbar-nav .open .dropdown-menu > li > a:hover,
  .reafenav .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .reafenav .navbar-nav .open .dropdown-menu > .active > a,
  .reafenav .navbar-nav .open .dropdown-menu > .active > a:hover,
  .reafenav .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .reafenav .navbar-nav .open .dropdown-menu > .disabled > a,
  .reafenav .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .reafenav .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.reafenav .navbar-link {
  color: #777;
}
.reafenav .navbar-link:hover {
  color: #333;
}
.reafenav .btn-link {
  color: #777;
}
.reafenav .btn-link:hover,
.reafenav .btn-link:focus {
  color: #333;
}
.reafenav .btn-link[disabled]:hover,
fieldset[disabled] .reafenav .btn-link:hover,
.reafenav .btn-link[disabled]:focus,
fieldset[disabled] .reafenav .btn-link:focus {
  color: #ccc;
}


/*nav----------------------------------------------*/
.top .logo{
  background: url('../image/logo.png') center center no-repeat;
  width: 200px;
}
.banner .jumbotron{
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  margin-bottom: 0;
}
.banner .jumbotron img{
  width: 100%;
  /*height: 700px;*/
  /*background: url('../image/brandidel/banner2.png') center center no-repeat;*/
}

.banner .mask{
  position: absolute;
  font-size: 30px;
  line-height: 60px;;
  text-align: center;
  width: 800px;
  height: 250px;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -125px;
  background-color: rgba(255,255,255,.3);
  padding-top: 60px;
  box-sizing: border-box;
  color: #FACB87;
}
/*content------------------------------------------*/
.content{
  margin-top: 50px;
}
.content .container .articleBox{
  margin-top: 30px;
}
.content .container .articleBox .articleItem{
  height: 420px;
  overflow: hidden;
  padding: 16px;
  box-sizing: border-box;
}
.content .container .articleBox .articleItem img{
  width: 100%;
  height: 260px;
  margin-bottom: 16px;
}
/*footer---------------------------------------*/


footer.style-2 {
    background: #333;
    color: #fff;
}
footer.style-2>div{
  color: #fff;
}
footer.style-2>div a{
  color: #fff;
}
footer {
    padding-top: 30px;
    padding-bottom: 20px;
    color: #fff;
}
