<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./lib/dist/css/bootstrap.css">
  <link rel="stylesheet" href="./css/material.css">
</head>

<body>
  <div class="top">
    <nav class="navbar reafenav navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand logo" href="#"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="./index.html">品牌介绍 <span class="sr-only">(current)</span></a></li>
            <li><a href="./brandidel.html">品牌理念</a></li>
            <li class="active"><a href="./material.html">配料分析</a></li>
            <li><a href="./blog.html">BLOG</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </div>
  <div class='banner'>
    <div class="jumbotron">
      <img src="./image/material/banner1.jpg" alt="">
      <div class="mask hidden-xs"></div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <div class="row">
              <div class="col-md-3 hidden-xs">
                <img class='img-rounded material-icon center-block' src="./image/material/成分1.png" alt="">
              </div>
              <div class="col-md-6 mat-text">
                <h3>成分</h3>
                <p>we’re not all about appearances. what’s inside counts,too. find out what goes in our method bottles.</p>
              </div>
              <div class="col-md-3 hidden-xs">
                <a class="collapsed mat-button" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  </a>
              </div>
            </div>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                  <tr>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- 组1 -->


        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <div class="row">
              <div class="col-md-3 hidden-xs">
                <img class='img-rounded material-icon center-block' src="./image/material/配方1.png" alt="">
              </div>
              <div class="col-md-6 mat-text">
                <h3>成分</h3>
                <p>we’re not all about appearances. what’s inside counts,too. find out what goes in our method bottles.</p>
              </div>
              <div class="col-md-3 hidden-xs">
                <a class="collapsed mat-button" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  </a>
              </div>
            </div>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                  <tr>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- 组三 -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThr">
            <div class="row">
              <div class="col-md-3 hidden-xs">
                <img class='img-rounded material-icon center-block' src="./image/material/低等成分列表1.png" alt="">
              </div>
              <div class="col-md-6 mat-text">
                <h3>成分</h3>
                <p>we’re not all about appearances. what’s inside counts,too. find out what goes in our method bottles.</p>
              </div>
              <div class="col-md-3 hidden-xs">
                <a class="collapsed mat-button" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThr" aria-expanded="false" aria-controls="collapseThr">
                  </a>
              </div>
            </div>
          </div>
          <div id="collapseThr" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThr">
            <div class="panel-body">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                  <tr>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- 组三over -->
          <!-- 组四 -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
              <div class="row">
                <div class="col-md-3 hidden-xs">
                  <img class='img-rounded material-icon center-block' src="./image/material/香水1.png" alt="">
                </div>
                <div class="col-md-6 mat-text">
                  <h3>成分</h3>
                  <p>we’re not all about appearances. what’s inside counts,too. find out what goes in our method bottles.</p>
                </div>
                <div class="col-md-3 hidden-xs">
                  <a class="collapsed mat-button" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    </a>
                </div>
              </div>
            </div>
            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
              <div class="panel-body">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Username</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                    <tr>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!-- 组四over -->

          <!-- 组五 -->
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
              <div class="row">
                <div class="col-md-3 hidden-xs">
                  <img class='img-rounded material-icon center-block' src="./image/material/着色剂1.png" alt="">
                </div>
                <div class="col-md-6 mat-text">
                  <h3>成分</h3>
                  <p>we’re not all about appearances. what’s inside counts,too. find out what goes in our method bottles.</p>
                </div>
                <div class="col-md-3 hidden-xs">
                  <a class="collapsed mat-button" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    </a>
                </div>
              </div>
            </div>
            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
              <div class="panel-body">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Username</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                    <tr>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr>
                      <td>Larry</td>
                      <td>the Bird</td>
                      <td>@twitter</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        <!-- 组五over -->
        <!-- 组六 -->
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingSix">
            <div class="row">
              <div class="col-md-3 hidden-xs">
                <img class='img-rounded material-icon center-block' src="./image/material/防腐剂1.png" alt="">
              </div>
              <div class="col-md-6 mat-text">
                <h3>成分</h3>
                <p>we’re not all about appearances. what’s inside counts,too. find out what goes in our method bottles.</p>
              </div>
              <div class="col-md-3 hidden-xs">
                <a class="collapsed mat-button" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  </a>
              </div>
            </div>
          </div>
          <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                  </tr>
                  <tr>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                  <tr>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <!-- 组六over -->



      </div>
      <!-- accordion -->
    </div>
    <!-- container -->
  </div>
  <!-- content -->
  <footer class="footer style-2">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-xs-6">
          <div class="col">
            <h4>快速导航</h4>
            <ul>
              <li><a href="">家庭门锁</a></li>
              <li><a href="">蓝牙</a></li>
              <li><a href="">WIFI</a></li>
              <li><a href="">家庭门锁</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-2 col-xs-6">
          <div class="col">
            <h4>自研产品</h4>
            <ul>
              <li><a href="">家庭门锁</a></li>
              <li><a href="">蓝牙</a></li>
              <li><a href="">WIFI</a></li>
              <li><a href="">家庭门锁</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-2 col-xs-6">
          <div class="col">
            <h4>社区/招聘</h4>
            <ul>
              <li><a href="">家庭门锁</a></li>
              <li><a href="">蓝牙</a></li>
              <li><a href="">WIFI</a></li>
              <li><a href="">家庭门锁</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-2 col-xs-6">
          <div class="col">
            <h4>信息检索</h4>
            <ul>
              <li><a href="">家庭门锁</a></li>
              <li><a href="">蓝牙</a></li>
              <li><a href="">WIFI</a></li>
              <li><a href="">家庭门锁</a></li>
            </ul>
            </form>
          </div>
        </div>

        <div class="col-md-2 col-xs-6">
          <div class="col">
            <img src="./image/QRcode.png" class="img-responsive img-thumbnail" style='width:100px;height100px;'>
          </div>
        </div>

        <div class="col-md-2 col-xs-6">
          <div class="col">
            <img src="./image/QRcode.png" class="img-responsive img-thumbnail" style='width:100px;height100px;'>
          </div>
        </div>


      </div>
    </div>
  </footer>

</body>
<script src='lib/jquery-3.1.1.js'></script>
<script src="./lib/dist/js/bootstrap.min.js"></script>


</html>
