<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./lib/dist/css/bootstrap.css">
  <link rel="stylesheet" href="./css/index.css">
</head>

<body>
  <div class="top">
    <nav class="navbar reafenav navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
          <a class="navbar-brand logo" href="#"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="./index.html">品牌介绍 <span class="sr-only">(current)</span></a></li>
            <li><a href="./brandidel.html">品牌理念</a></li>
            <li><a href="./material.html">配料分析</a></li>
            <li><a href="./blog.html">BLOG</a></li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </div>
  <div class='banner'>
    <div class="jumbotron">
      <img src="./image/banner.jpg" alt="">
      <div class="mask hidden-xs hidden">
        <img src="./image/logo2.png" alt=""></div>
    </div>
  </div>
  <div class="jumbotron hidden-xs md1">
    <div class="container">
      <h1>Reafe</h1>
      <p>Reafe以严谨的科研态度，专注于极致安全的产品开发，</br> 将诚心与责任注入产品的灵魂，</br> 旨在为广大消费者提供一个极致安全、健康、时尚的高端生活品牌。
      </p>
    </div>
  </div>
  <div class="content">
    <div class="md1">
      <div class="container visible-xs">
        <h1>__</h1>
        <h1>Reafe</h1>
        <p>将专注赋予行动 以诚信铸造产品 用心呵护 用爱灌盖.</p>
      </div>
    </div>
		<div class="md2">
			<div class="container">
				<div class="imgBox"><img src="./image/brand-icon.png" alt=""></div>
			</div>
		</div>
		<div class="md3">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-xs-6 md3-item">
						<img src="./image/love.png" alt="">
						<p>用爱心浇灌</p>
						<h3 class='hidden-xs'>保家人安康</h3>
					</div>
					<div class="col-md-3 col-xs-6 md3-item">
						<img src="./image/team.png" alt="">
						<p>专业专注的</p>
						<h3 class='hidden-xs'>科研团队</h3>
					</div>
					<div class="col-md-3 col-xs-6 md3-item">
						<img src="./image/global.png" alt="">
						<p>全球范围采集</p>
						<h3 class='hidden-xs'>优质原料</h3>
					</div>
					<div class="col-md-3 col-xs-6 md3-item">
						<img src="./image/safe.png" alt="">
						<p>极致安全的</p>
						<h3 class='hidden-xs'>食品级产品</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="md4">
			<div class="container-fluid text-center">
				<div class="imgBox"><img src="./image/product-icon.png" alt=""></div>
			</div>
		</div>
    <div class="md4_ hidden-xs">
      <div class="container-fluid">
      </div>
    </div>
		<div class="md5">
			<div class="container-fluid">
				<div class="md5List">
					<div class="md5-item">
						<img src="./image/pro-bg1.jpg" alt="" style="width:100%">  
            <div class='md5-bg-text text-center'>
              <h3>果蔬清洗剂</h3>
              <h4>可以吃的才是健康的</h4>
            </div>          
            <div class='pro-box'>
              <img class='pro-img' src="./image/product1.jpg" alt="">
            </div>
					</div>

          <div class="md5-item">
            <img src="./image/pro-bg2.jpg" alt="" style="width:100%">
            <div class='md5-bg-text text-center'>
              <h3>奶瓶清洗剂</h3>
              <h4>可以吃的才是健康的</h4>
            </div>
            <div class='pro-box'>
              <img class='pro-img' src="./image/product2.jpg" alt="">
            </div>
          </div>

          <div class="md5-item">
            <img src="./image/pro-bg3.jpg" alt="" style="width:100%">
            <div class='md5-bg-text text-center'>
              <h3>餐具清洗剂</h3>
              <h4>可以吃的才是健康的</h4>
            </div>
            <div class='pro-box'>
              <img class='pro-img' src="./image/product3.jpg" alt="">
            </div>
          </div>
				</div>
			</div>
		</div>
  </div>
  <footer class="footer style-2">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-xs-6">
          <div class="col">
            <h4>快速导航</h4>
            <ul>
              <li><a href="">家庭门锁</a></li>
              <li><a href="">蓝牙</a></li>
              <li><a href="">WIFI</a></li>
              <li><a href="">家庭门锁</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-2 col-xs-6">
          <div class="col">
            <h4>自研产品</h4>
            <ul>
              <li><a href="">家庭门锁</a></li>
              <li><a href="">蓝牙</a></li>
              <li><a href="">WIFI</a></li>
              <li><a href="">家庭门锁</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-2 col-xs-6">
          <div class="col">
            <h4>社区/招聘</h4>
            <ul>
              <li><a href="">家庭门锁</a></li>
              <li><a href="">蓝牙</a></li>
              <li><a href="">WIFI</a></li>
              <li><a href="">家庭门锁</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-2 col-xs-6">
          <div class="col">
            <h4>信息检索</h4>
            <ul>
              <li><a href="">家庭门锁</a></li>
              <li><a href="">蓝牙</a></li>
              <li><a href="">WIFI</a></li>
              <li><a href="">家庭门锁</a></li>
            </ul>
            </form>
          </div>
        </div>

        <div class="col-md-2 col-xs-6">
          <div class="col">
            <img src="./image/QRcode.png" class="img-responsive img-thumbnail"  style='width:100px;height100px;'>
          </div>
        </div>

        <div class="col-md-2 col-xs-6">
          <div class="col">
            <img src="./image/QRcode.png" class="img-responsive img-thumbnail" style='width:100px;height100px;'>
          </div>
        </div>


      </div>
    </div>
  </footer>

</body>
<script src='lib/jquery-3.1.1.js'></script>
<script src="./lib/dist/js/bootstrap.min.js"></script>


</html>
